// Colors
$rs-primary-color: #539CF1;
$rs-secondary-color: #DBE1E9;
$rs-success-color: #0EDB96;
$rs-info-color: #02CDED;
$rs-danger-color: #FF7373;
$rs-warning-color: #DFF842;
$rs-white-color: #FFF;
$rs-black-color: #000;
$rs-grey-color: #EDEDED;
